*{
    margin: 0;
    padding: 0;
}

html{
  background-image: url('./login.jpg' );
  background-size: 100%;
  background-repeat:no-repeat;
  /* background-position: center; */
  height:auto;
    
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding-top:50px ;
  padding-bottom: 50px; */


}

.boxes{
  margin-top: 230px;
  margin-bottom: 40px;
  height: 800px;
  width: 700px;
  background-color: rgb(0, 0, 0, 0.4);
  padding-top:40px;
}

#box1{
  margin-right: 20px;
}

#box2{
  margin-left: 20px;
}

#Heading{
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;;
  margin-top: 60px;
}

hr{
  color: red;
  /* width: 80%; */
  margin: 25px 100px;
}

#attention{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  padding-left:100px ;
  padding-right: 100px;
}